<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
  <!-- Control sidebar content goes here -->
  <div class="p-3">
    <h5>¿Ya te vas?</h5>
    <p (click)="cerrarSesion()" style="cursor:pointer"><i class="fa fa-fw fa-sign-out nav-icon"></i>Cerrar Sesión</p>
  </div>
</aside>
<!-- /.control-sidebar -->
