<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Información Parqueadero</h1>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->
  <!-- Main content -->
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <form [formGroup]="formGroup" autocomplete="off">
                <p class="title">Parqueadero 4 Ruedas</p>
                <div class="row">
                  <div class="col-3">
                    <input class="form-control" type="text" placeholder="Marca" autofocus  name="marca" formControlName="marca"/>
                  </div>
                  <div class="col-3">
                    <input class="form-control" type="text" placeholder="Placa" autofocus  name="placa" formControlName="placa"/>
                  </div>
                  <div class="col-3">
                    <input class="form-control" type="text" placeholder="Nombre" autofocus  name="nombre" formControlName="nombre"/>
                  </div>
                  <div class="col-3">
                    <input class="form-control" type="number" placeholder="Cedula" autofocus  name="cedula" formControlName="cedula"/>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-6">
                    <button (click)="consultVehicles()" type="submit" class="btn btn-block btn-success btn-sm">Consultar</button>
                  </div>
                  <div class="col-6">
                    <button (click)="openDialog()" type="button" class="btn btn-block btn-success btn-sm">Nuevo</button>
                  </div>
                </div>
                <br>
              </form>
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th style="width: 10px">Id Usuario</th>
                    <th style="width: 10px">Nombre</th>
                    <th style="width: 10px">Cedula</th>
                    <th style="width: 10px">Telefono</th>
                    <th style="width: 10px">Tiempo</th>
                    <th style="width: 10px">Marca</th>
                    <th style="width: 10px">Modelo</th>
                    <th style="width: 10px">Placa</th>
                    <th style="width: 10px">Tipo</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let item of vehiculos">
                    <tr>
                      <td>{{item.id}}</td>
                      <td>{{item.nombre}}</td>
                      <td>{{item.cedula}}</td>
                      <td>{{item.telefono}}</td>
                      <td>{{item.tiempo}}</td>
                      <td>{{item.marca}}</td>
                      <td>{{item.modelo}}</td>
                      <td>{{item.placa}}</td>
                      <td>{{item.tipo}}</td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
