<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Demo</h1>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <p class="title">Demo de array to object (Abre la consola para ver la magia F12)</p>
                <br>
                <form role="form" [formGroup]="formGroup">
                    <div class="row">
                        <div class="col-12">
                            <mat-form-field class="full-width">
                                <mat-label>Codigo</mat-label>
                                <textarea matInput placeholder="Escribe el array aquí, ejemplo: [​​2018-12-01​​,​​AM​​,​​ID123​,​5000​] ,[​​2018-12-01​​,​​AM​​,​​ID545​,​7000​] ,[​​2018-12-01​​,​​PM​​,​​ID545​,​​3000​] ,[​​2018-12-02​​,​​AM​,​​ID545​,​​7000​]" formControlName="code" name="code"></textarea>
                            </mat-form-field>
                            <button (click)="generateObject()" type="submit" class="btn btn-block btn-success btn-sm">Generar Objeto</button>
                        </div>
                    </div>
                </form>
                <br>
              </div>
            </div>
          </div>
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->