<div *ngIf="login">
  <router-outlet></router-outlet>
</div>
<div *ngIf="!login">
  <app-header></app-header>
  <app-menu></app-menu>
  <router-outlet></router-outlet>
  <app-settings></app-settings>
  <app-footer></app-footer>
</div>
