<div class="body">
  <div class="wrapper">
    <form [formGroup]="formGroup" autocomplete="off" class="login">
      <p class="title">Parqueadero 4 Ruedas</p>
        <input type="email" placeholder="Correo" autofocus  name="email" formControlName="email" required/>
        <input type="password" placeholder="Contraseña" autofocus  name="password" formControlName="password" required/>
      <button (click)="iniciar_sesion()"  type="submit">
          <i class="spinner"></i>
          <span class="state">Ingresar</span>
      </button>
    </form>
  </div>
</div>
