<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Cantidad Marcas</h1>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->
  <!-- Main content -->
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <form autocomplete="off">
                <p class="title">Parqueadero 4 Ruedas</p>
                <br>
                <div class="row">
                  <div class="col-12">
                    <button (click)="consultVehicles()" type="submit" class="btn btn-block btn-success btn-sm">Consultar</button>
                  </div>
                </div>
                <br>
              </form>
              <div *ngIf="tablesVisibility">
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <th>Marca</th>
                      <th>Cantidad</th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngFor="let item of vehiculos">
                      <tr>
                        <td>{{item.marca}}</td>
                        <td>{{item.cantidad}}</td>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
                <br>
                <br>
                <div>
                  <div style="display: block">
                    <canvas baseChart
                            [datasets]="barChartData"
                            [labels]="barChartLabels"
                            [options]="barChartOptions"
                            [legend]="barChartLegend"
                            [chartType]="barChartType">
                    </canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
