<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a routerLink="/inicio" class="brand-link">
    <img src="https://www.gradiweb.com/wp-content/uploads/2019/04/logo.png" alt="GradiWeb Logo" class="brand-image img-circle elevation-3"
         style="opacity: .8">
    <span class="brand-text font-weight-light">Parqueadero 4 Ruedas</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="https://www.gradiweb.com/wp-content/uploads/2019/04/logo.png" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="#" class="d-block">{{user_name}}</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item has-treeview menu-open">
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/inicio" class="nav-link active">
                <i class="fa fa-fw fa-home nav-icon"></i>
                <p>Inicio</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/info_parqueadero" class="nav-link">
                <i class="fa fa-fw fa-list nav-icon"></i>
                <p>Información Parqueadero</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/cantidad_marcas" class="nav-link">
                <i class="fa fa-fw fa-pie-chart nav-icon"></i>
                <p>Ver Cantidad Marcas</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/demo" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Demo</p>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
