<h2 mat-dialog-title align="center">Bienvenido</h2>
<mat-dialog-content class="mat-typography">
  <form role="form" [formGroup]="formGroup">
    <div class="card-body">
      <div class="form-group">
        <label for="marca">Marca</label>
        <select name="marca" id="marca" formControlName="marca" class="custom-select">
          <option value="0" selected disabled>Seleccione una opción</option>
          <option value="toyota">Toyota</option>
          <option value="bmw">BWM</option>
          <option value="mazda">Mazda</option>
          <option value="kya">Kya</option>
          <option value="chevrolet">Chevrolet</option>
        </select>
      </div>
      <div class="form-group">
        <label for="modelo">Modelo</label>
        <input type="text" class="form-control" id="modelo" placeholder="Modelo"formControlName="modelo" >
      </div>
      <div class="form-group">
        <label for="placa">Placa</label>
        <input type="text" class="form-control" id="placa" placeholder="Placa"formControlName="placa" >
      </div>
      <div class="form-group">
        <label for="tipo">Tipo</label>
        <select name="tipo" id="tipo" formControlName="tipo" class="custom-select">
          <option value="0" selected disabled>Seleccione una opción</option>
          <option value="pasajeros">Pasajeros</option>
          <option value="carga">Carga</option>
          <option value="carrera">Carrera</option>
          <option value="turismo">Turismo</option>
        </select>
      </div>
      <div class="form-group">
        <label for="typeUser">Crear usuario o usar uno existente</label>
        <select name="typeUser" id="typeUser" formControlName="typeUser" class="custom-select" (change)="changeTipoUsuario($event)">
          <option selected disabled>Seleccione una opción</option>
          <option value="0">Nuevo</option>
          <option value="1">Existente</option>
        </select>
      </div>
      <ng-container *ngIf="tipoUsuario == 0">
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input type="text" class="form-control" id="nombre" placeholder="Nombre"formControlName="nombre" >
        </div>
        <div class="form-group">
          <label for="cedula">Cedula</label>
          <input type="number" class="form-control" id="cedula" placeholder="Cedula"formControlName="cedula" >
        </div>
        <div class="form-group">
          <label for="telefono">Telefono</label>
          <input type="text" class="form-control" id="telefono" placeholder="Telefono"formControlName="telefono" >
        </div>
        <div class="form-group">
          <label for="tiempo_parqueo">Tiempo Parqueo (Hrs)</label>
          <input type="number" class="form-control" id="tiempo_parqueo" placeholder="Tiempo Parqueo (Hrs)" formControlName="tiempo_parqueo" >
        </div>
      </ng-container>
      <ng-container *ngIf="tipoUsuario == 1">
        <div class="form-group">
          <label for="id_selected_propietario">Propietarios Existentes</label>
          <select name="id_selected_propietario" id="id_selected_propietario" formControlName="id_selected_propietario" class="custom-select">
            <option selected disabled>Seleccione una opción</option>
            <ng-container *ngFor="let item of propietarios">
              <option [value]="item.id">{{item.nombre}}</option>
            </ng-container>
          </select>
        </div>
      </ng-container>
    </div>
    <!-- /.card-body -->

    <div class="card-footer" align="center">
      <button type="submit" class="btn btn-primary" (click)="saveVehicle()">Guardar</button>
    </div>
  </form>
</mat-dialog-content>
